body {
  background: url(./bg.jpg)no-repeat center center;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  overflow: hidden;
}
/* header nav #ea907a , main text #faeee7 slider #fbc687 main title #faeee7 second title #e8e4e1 */ 